body {
    font-family: 'Montserrat', sans-serif;
    padding-top: 100px;
}


/* NAV */
.nav1_top {
    height: 45px;
}

.sony-logo {
    width: 5rem;
}

/* HEADER */
/* returnal */
.returnal {
    background-image: url(../img/jumbo-bg.png);
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    padding-bottom: 3rem;
}

.returnal-title {
    padding-top: 13rem;
}

.btn-acquista {
    background-color: #cd3d0f;
    border-radius: 50px;
    padding: 0.7rem 1rem;
}

.btn-acquista:hover {
    background-color: #cd3d0f;
    border: 4px double black;
    
}